.navbar-brand:hover{
    transform: scale(1.1);

}
.nav-item:hover .nav-link{
    color: rgb(201, 201, 201) !important;
    
}

.card{
    max-height:40vh;
    min-height: 300px;
    transition: all 1s;
}
.card img{

    object-fit: cover !important;
    height: 200px !important;
}

.card:hover{
    cursor: pointer;
    background: #5689d6;
}
.card:hover .card-title{
    color: #ffffff !important;
}
.carousel{
    height: 100vh;
}
.carousel-item{
    min-height: 100vh;
}
.carousel-item img{
    min-height: 100vh;
    object-fit: cover !important;
}
